[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible = ">=2.8"
autopep8 = "*"
bandit = "*"
black = "*"
pylint = "*"

[packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
